<!doctype html>
<html lang="en">
<!--header-->
<%- include('header'); %>
<body class="main-body">
<div class="container bg-light " >
    <div class="row">
        <div class="class col-12 col-md-3">
            <!--Main menu-->
            <%- include('menu'); %>
        </div>
        <div class="class col-12 col-md-6">
            <!--Content-->
            <div class="container-fluid">
                <div class="row">
                    <h1>tweetoo</h1>
                </div>
                <div class="row">
                    <!--    Profile Template-->
                    <%- include('profileTemp'); %>
                </div>
            </div>
        </div>
        <%- include('rendAlert'); %>
        <div class="class col-12 col-md-3">

        </div>
    </div>
</div>

<!--footer-->
<%- include('footer'); %>
</body>
</html>

