<!doctype html>
<html lang="en">
<!--header-->
<%- include('header'); %>
<body class="main-body">
<div class="container bg-light">
    <div class="row d-flex justify-content-center text-center">
        <h1>tweetoo</h1>
    </div>
    <div class="row">
        <div class="class col-12 col-md-3">
            <!--Main menu-->
            <%- include('menu'); %>
        </div>
        <div class="class col-12 col-md-6">
            <!--Content-->
            <div class="container-fluid">
                <div class="row">
                    <!--    Profile Template-->

                    <%- include('searchTemp'); %>
                </div>
            </div>
            <%- include('pag'); %>
        </div>
        <div class="class col-12 col-md-3">

        </div>
    </div>
</div>

<!--footer-->
<%- include('footer'); %>
</body>
</html>
