<% locals.tweets.draft.forEach(function(tweet){ %>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-1">
                <i class="fas fa-user fa-3x" style="margin: 20px 10px 10px 10px;"></i>
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-start">
                            <h5 class="card-title"><p class="fw-bold"><%= tweet.nickname%></p></h5>
                        </div>
                        <div class="col-6 text-end">
                            <h6 class="card-title"><p class="fw-lighter">
                                    <%= new Date(tweet.meta.created).toLocaleDateString("en-US",
                                            {dateStyle: "short",timeStyle: "short", hourCycle: "h24"})%>
                                </p>
                            </h6>
                        </div>
                    </div>
                    <p class="card-text"><%= tweet.text%></p>
                    <div class="row">
                        <div class="col-6 text-start">
                        </div>
                            <div class="col-6 text-end">
                                <a href="/tweet/edit/<%= tweet.id%>" class="btn btn-outline-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="/tweet/del/<%= tweet.id%>" class="btn btn-outline-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                <a href="/tweet/public/<%= tweet.id%>" class="btn btn-outline-success">
                                    <i class="fas fa-globe-americas"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }); %>
