<!--    Main Tweet Template-->
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2 d-flex justify-content-center">
            <% if (typeof content.user.photo_id !== 'undefined' && content.user.photo_id !== null) { %>
            <img src="/upload/photo/<%=content.user.photo_id%>"  class="imgTweet">
            <% } else { %>
                <img src="/public/assets/img/profilPhotoPlaceholder.png" class="imgTweet">
            <% } %>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 text-start">
                        <h5 class="card-title"><p class="fw-bold"><%= content.user.nickname%></p></h5>
                    </div>
                    <div class="col-6 text-end">
                        <h6 class="card-title">
                            <p class="fw-lighter">
                                <%= new Date(content.tweet.publicTimestamp).toLocaleDateString("en-US",
                                        {dateStyle: "short",timeStyle: "short", hourCycle: "h24"})%>
                            </p>
                        </h6>
                    </div>
                </div>
                <p class="card-text"><%= content.tweet.text%></p>
                <div class="row">
                    <div class="col-9 text-start">
                    </div>
                    <div class="col-1 d-flex align-items-center btn-love">
                        <%= content.tweet.loveCount%>
                    </div>
                    <div class="col-2 d-flex align-items-center btn-love">
                        <% if (typeof user !== 'undefined' && locals.user.id !== content.tweet.user_id) { %>
                        <% if (content.tweet.isLoved) { %>
                        <form action="/tweet/love/<%= content.tweet.id%>" method="post">
                            <button type="submit" class="btn btn-link btn-love"><i class="fas fa-heart"></i></button>
                        </form>
                        <% } else { %>
                        <form action="/tweet/love/<%= content.tweet.id%>" method="post">
                            <button type="submit" class="btn btn-link btn-love"><i class="far fa-heart"></i></button>
                        </form>
                            <% } %>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
